body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  margin: 0 auto;
  background-color: lightblue;
  max-width: 600px; // Adjust as needed to match A4 portrait width
  display: flex;
  justify-content: center;
}

.page {
  background-color: white;
  padding: 20px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  max-width: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
}

h2::before {
  content: "Section " counter(chapter) "." counter(section) " - ";
}

h1::before {
  content: "Chapter " counter(chapter) " - ";
}