{% extends "base.html" %}

{% block content %}
<h1 class="title">
  {{ section.title }}
</h1>

<nav class="table-of-contents">
  <h2>Table of Contents</h2>
  <ul class="toc-list">
    {% for chapter_path in section.subsections %}
      {% set chapter = get_section(path=chapter_path) %}
      {% set chapter_index = loop.index %}
      <li class="toc-chapter">
        <a href="{{ chapter.permalink }}">{{ chapter_index }}. {{ chapter.title }}</a>
        {% if chapter.pages %}
          <ul class="toc-pages">
            {% for section in chapter.pages %}
              {% set section_index = loop.index %}
              <li class="toc-section">
                <a href="{{ section.permalink }}">{{ section_index }}. {{ section.title }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>

Looking for the <a href="{{ get_url(path="@/unroll.md") }}">unrolled version</a>?

{% endblock content %}