{{ define "main" }}

<article class="markdown book-article">
    <p class="chapter-number">Appendix</p>
    <!-- <h1 class="chapter">{{ .Title }}</h1> -->

    {{- .Content -}} 
    {{ range $index, $page := .Pages }}
    <h2 id="{{ .Slug }}">
        {{ index (slice "A" "B" "C" "D" "E" "F" "G" "H" "I" "J" "K" "L" "M" "N" "O" "P" "Q" "R" "S" "T" "U" "V" "W" "X" "Y" "Z") $index }}. 
        {{ if not (isset .Site.Params "pdfgen") }}
        <a href="{{ $page.Permalink }}">
        {{ end }}
            <span class="section-name">{{ $page.Title }}</span>
        {{ if not (isset .Site.Params "pdfgen") }}
        </a>
        {{ end }}
    </h2>
    <p>{{ .Content }}</p>
    {{ end }}
</article>

{{ end }}
