// @import "plugins/_numbered.scss";

// .chapter-head::after {
//     content: counter(h1);
// }

$floating-footnotes-width: 20rem;

.floating-footnotes {
    position: absolute;
    left: 100%;
    margin: 0 2rem 0 1rem;
    top: 0;
    width: calc(#{$floating-footnotes-width} - 3rem);

    font-size: 0.9rem;

    ol li {
        position: absolute;
        p {
            margin-top: 0px;
        }
    }
}

.book-page {
    position: relative;

    @media screen and (min-width: 56rem) {
        padding-right: 0;
        margin-right: $floating-footnotes-width;
    }
}

.qviz {
    display: block;
    margin: 0 auto;
}