/* Use A4 paper in landscape orientation */
@page {
    size: A4 landscape;
    margin-top: 30mm;
    margin-bottom: 30mm;
    marks: crop;
}

@page:left {
    margin-left: 30mm;
    margin-right: 55mm;
}
@page:right {
    margin-left: 55mm;
    margin-right: 30mm;
}