nav,
aside,
header {
    display: none !important;
}

$footnote-margin-width: 55mm;

div.footnotes {
    font-size: 0.9rem;
    line-height: 1.4rem;
    width: 100%;

    pagedjs_margin-left-top {
        height: 0;
    }

    ol {
    @page: left {
        margin-left: -7mm;
    }
    }
    ol li {
        position: absolute;
        width: calc(#{$footnote-margin-width} - 40px);

        p {
            margin-top: 0px;
        }
    }

    hr {
        display: none;
    }
}

.book-columns pre {
    overflow: hidden
}

@media print {

    /* Use A4 paper in landscape orientation */
    @page {
        size: A4;
        margin-top: 30mm;
        margin-bottom: 30mm;
    }

    @page: left {
        margin-left: 15mm;
        margin-right: $footnote-margin-width;

        @bottom-left {
            content: counter(page);
        }

        @top-center {
            content: string(title);
            text-transform: uppercase;
            font-size: 9px;
        }
    }

    @page: right {
        margin-left: $footnote-margin-width;
        margin-right: 15mm;

        @bottom-right {
            content: counter(page);
        }

        @top-center {
            content: string(subtitle);
            text-transform: uppercase;
            font-size: 9px;
        }
    }

    h1 {
        string-set: title content(text);
    }

    h2 .section-name {
        string-set: subtitle content(text);
    }

    .chapter-number {
        margin-bottom: 0;
        margin-top: 4em !important;
    }
    h1.chapter {
        margin-bottom: 2em;
    }
}
