{{- $title := .Get "title" | markdownify -}}
{{- $id := .Get "id" -}}
{{- $enlarge := .Get "enlarge" -}}

{{ if not (.Page.Parent.Store.Get "definition_counter") }}
    {{ .Page.Parent.Store.Set "definition_counter" 0 }}
{{ end }}

{{ if not (.Site.Store.Get "definition_map") }}
    {{ .Site.Store.Set "definition_map" dict }}
{{ end }}

{{ .Page.Parent.Store.Add "definition_counter" 1 }}
{{ $counter := .Page.Parent.Store.Get "definition_counter" }}
{{ $chapternb := index (findRESubmatch `^0*(\d+)` .Page.File.Dir) 0 1 }}
{{ $definitionNumber := printf "%s.%d" $chapternb $counter }}
{{ .Site.Store.SetInMap "definition_map" $id $definitionNumber }}

{{- $blockClass := "definition-block" -}}
{{- if $enlarge -}}
  {{- $blockClass = printf "%s enlarge-%s" $blockClass $enlarge -}}
{{- end -}}

<div class="{{ $blockClass }}" id="{{ $id }}">
<div class="definition-header">
    <span class="definition-label">Definition {{ $definitionNumber }}</span>
    {{- if $title -}}<span class="definition-title">{{- $title -}}</span>{{- end -}}
</div>
<div class="definition-content">
    {{ .Inner | safeHTML }}
</div>
</div>
