{{- $title := .Get "title" | markdownify -}}
{{- $id := .Get "id" -}}
{{- $enlarge := .Get "enlarge" -}}

{{ if not $id }}
    {{ errorf "Proposition shortcode requires an 'id' parameter in %s" .Page.File.Path }}
{{ end }}

{{ $chapternb := index (findRESubmatch `^0*(\d+)` .Page.File.Dir) 0 1 }}
{{ $dir := .Page.File.Dir }}

{{ if not (.Site.Store.Get "props") }}
    {{ .Site.Store.Set "props" dict }}
{{ end }}

{{ $propsMap := .Site.Store.Get "props" }}
{{ if not (index $propsMap $dir) }}
    {{ .Site.Store.SetInMap "props" $dir dict }}
{{ end }}

{{ $chapterMap := index $propsMap $dir }}
{{ $maxKey := "max_key" }}
{{ $propositionNumber := "" }}

{{ $propositionNumber = index $chapterMap $id }}
{{ if not $propositionNumber }}
    {{ $currentMax := index $chapterMap $maxKey }}
    {{ if not $currentMax }}
        {{ $currentMax = 0 }}
    {{ end }}
    {{ $currentMax = add $currentMax 1 }}
    {{ $propositionNumber = $currentMax }}
    {{ .Site.Store.SetInMap "props" $dir (merge $chapterMap (dict $id $propositionNumber $maxKey $currentMax)) }}
{{ end }}

{{- $blockClass := "proposition-block" -}}
{{- if $enlarge -}}
  {{- $blockClass = printf "%s enlarge-%s" $blockClass $enlarge -}}
{{- end -}}

<div class="{{ $blockClass }}" id="{{ $id }}">
<div class="proposition-header">
<span class="proposition-label">Proposition {{ $chapternb }}.{{ $propositionNumber }}</span>
{{- if $title -}}<span class="proposition-title">{{ $title }}</span>{{- end -}}
</div>
<div class="proposition-content">{{ .InnerDeindent | markdownify }}</div>
</div>
