{{- $id := .Get 0 -}}
{{- $defsMap := .Site.Store.Get "defs" -}}
{{- $chapternb := "" -}}
{{- $definitionNumber := "" -}}
{{- $dir := "" -}}
{{- range $chapter, $chapterMap := $defsMap -}}
    {{- if index $chapterMap $id -}}
        {{- $dir = $chapter -}}
        {{- $chapternb = index (findRESubmatch `^0*(\d+)` $chapter) 0 1 -}}
        {{- $definitionNumber = index $chapterMap $id -}}
    {{- end -}}
{{- end -}}
{{- $href := cond .Site.Params.pdfgen (printf "#%s" $id) (printf "%s#%s" $dir $id | relURL) -}}
Definition <a href="{{ $href }}">{{- $chapternb -}}.{{- $definitionNumber -}}</a>